/* html要素の文字サイズを宣言 */
html {
  font-size: 24px;
}

/* h1要素の文字色、背景色、文字サイズを宣言 */
h1 {
  font-size: 1rem;
  color: white;
  background-color: blue;
}

/* h3要素の背景色、文字サイズを宣言 */
h3 {
  font-size: 0.75rem;
  background-color: rgb(0,100,0);
}

/* p要素の文字色、文字色、文字サイズを宣言 */
p {
  font-size: 0.5rem;
  color: #000080;
}

/* 「色」の文字色を宣言 */
span {
  color: red;
}
